<!DOCTYPE HTML>
<html>
<head>
  <title>
    Pokemon Info
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="/css/side-menu.css" th:href="@{/css/side-menu.css}" rel="stylesheet"/>
  <link href="/css/pure-min.css" th:href="@{/css/pure-min.css}" rel="stylesheet"/>

  <script type="text/javascript" src="/js/raphael.js" th:src="@{/js/raphael.js}"></script>
  <script type="text/javascript" src="/js/jquery-2.1.1.js" th:src="@{/js/jquery-2.1.1.js}"></script>
  <script type="text/javascript" src="/js/charts.min.js" th:src="@{/js/charts.min.js}"></script>
  <script type="text/javascript">
	function getOptions(color){
		return {line_color: color, dot_color: color, area_opacity: 0.0, dot_size: 5, smoothing: 0.3, line_width: 2};
	}
function drawRankingChart(){

        var day1 = new Date(2014, 11, 1);
        var day2 = new Date(2014, 11, 2);
        var day3 = new Date(2014, 11, 3);
        var day4 = new Date(2014, 11, 4);
        var day5 = new Date(2014, 11, 5);
        var day6 = new Date(2014, 11, 6);
        var day7 = new Date(2014, 11, 7);
        var day8 = new Date(2014, 11, 8);
        var day9 = new Date(2014, 11, 9);
        var day10 = new Date(2014, 11, 10);

        var field = document.getElementById("field");
        field.style.width = ($(document).width()  * 0.4) + 'px';
        field.style.height = ($(document).height() / 3) + 'px';

        var element = document.getElementById("multiaxis");
        element.style.width = ($(document).width()  * 0.4) + 'px';
        element.style.height = ($(document).height()  / 3) + 'px';

        var multi_axis = new Charts.LineChart('multiaxis', {
          show_grid: true,
          show_y_labels: false,
          label_max: false,
          label_min: false,
          max_x_labels: 7,
          max_y_labels: 7
        });
        
        var colorArray = [{"color":"#00aadd"},
            {"color":"#ffee33"},
            {"color":"#228b22"},
            {"color":"#c71585"},
            {"color":"#a9a9a9"},
            {"color":"#7cfc00"},
            {"color":"#20b2aa"},
            {"color":"#ffa500"},
            {"color":"#9370db"},
        	{"color":"#ff6347"}
        ];
		var test1 = [{"values" : [[day1, 1],[day2, 1],[day3, 1],[day4, 1],[day5, 1],[day6, 1],[day7, 1],[day8, 1],[day9, 1],[day10, 1]], "color":"#00aadd"}];
                
		var json_text = JSON.stringify(test1);
		alert(json_text);
		var rank = JSON.parse(json_text);
		for(var i in test1) {
		    multi_axis.add_line({
        	  data: test1[i].values,
    	      options: getOptions(test1[i].color)
	        });
	    }
        multi_axis.draw();
		
	}
  </script>
  
</head>
<body>
  <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
      <span></span>
    </a>

    <div id="menu">
      <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="https://twitter.com/yadori13">Owner</a>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li class="menu-item-divided pure-menu-selected"><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>

    <div id="main">
      <div class="header">
        <h1>PGL Advanced Viewer</h1>
        <h2>より詳しい情報をお届けします</h2>
      </div>

      <div class="content" id="divContent">
        <h2 class="content-subhead">ポケモン検索</h2>

        <form method="GET" action="/search">
          ポケモン図鑑No:
          <input type="text" name="pokemon_no" />
          <br />
          <input type="submit" value="検索" />
          <select name="year">
            <option value=""></option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
          </select>

          <select name="month">
            <option value=""></option>
            <option value="1">01</option><option value="2">02</option>
            <option value="3">03</option><option value="4">04</option>
            <option value="5">05</option><option value="6">06</option>
            <option value="7">07</option><option value="8">08</option>
            <option value="9">09</option><option value="10">10</option>
            <option value="11">11</option><option value="12">12</option>
          </select>

          <select name="day">
            <option value=""></option>
            <option value="1">01</option><option value="2">02</option><option value="3">03</option>
            <option value="4">04</option><option value="5">05</option><option value="6">06</option>
            <option value="7">07</option><option value="8">08</option><option value="9">09</option>
            <option value="10">10</option><option value="11">11</option><option value="12">12</option>
            <option value="13">13</option><option value="14">14</option><option value="15">15</option>
            <option value="16">16</option><option value="17">17</option><option value="18">18</option>
            <option value="19">19</option><option value="20">20</option><option value="21">21</option>
            <option value="22">22</option><option value="23">23</option><option value="24">24</option>
            <option value="25">25</option><option value="26">26</option><option value="27">27</option>
            <option value="28">28</option><option value="29">29</option><option value="30">30</option>
            <option value="31">31</option>
          </select>
        </form>

        <h2 class="content-subhead">シングルレートランキング推移</h2>
        <table>
          <tr>
            <td id='field'>
              <div id='multiaxis' style='width: 500px; height: 250px;'>
              </div>
            </td>
            <td>
              <p th:text="${ranking[0]}"/><p th:text="${ranking[1]}"/><p th:text="${ranking[2]}"/><p th:text="${ranking[3]}"/><p th:text="${ranking[4]}"/>
              <p th:text="${ranking[5]}"/><p th:text="${ranking[6]}"/><p th:text="${ranking[7]}"/><p th:text="${ranking[8]}"/><p th:text="${ranking[9]}"/>
			</td>
          </tr>
        </table>
        <hr />

        <p>ポケモンのJSONデータ</p>
        <p th:text="${results}" />

        <div class="pure-g">
          <div class="pure-u-1-4">
            <img 
            class="pure-img-responsive"
            src="http://www.pokemon.co.jp/ex/xy/story/images/img_story_01_01.jpg"
            alt="Peyto Lake"/>
          </div>
          <div class="pure-u-1-4">
            <img 
            class="pure-img-responsive"
            src="http://www.pokemon.co.jp/ex/oras/feature/img/page02_img_01.png"
            alt="Train"/>
          </div>
          <div class="pure-u-1-4">
            <img 
            class="pure-img-responsive"
            src="http://www.nintendo.co.jp/ds/interview/irbj/vol1/img/photo19.jpg"
            alt="T-Shirt Store"/>
          </div>
          <div class="pure-u-1-4">
            <img 
            class="pure-img-responsive"
            src="http://livedoor.blogimg.jp/laksjdhfg1111/imgs/e/c/ec876637-s.jpg"
            alt="Mountain"/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/ui.js">
  </script>
  <script>
  	drawRankingChart();
  </script>
</body>
</html>


